p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

html {
  margin: 0;
  background: linear-gradient(177deg, #C9D4EA 0%, #7a7570 100%) no-repeat;
  min-height: 100vh;
  width: 100%;
}

th {
  font-weight: 300;
}

body {
  font-size: 16px;
  margin: 30px;
  background: rgba(63, 68, 91, 0.342);
  border-radius: 10px;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  body {
    margin: 10px;
  }
}

.header {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.headline {
  padding-left: 15px;
}

.language-select {
  padding-right: 15px;
}
.language-select__select {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  border: none;
  background: transparent;
  color: white;
}
.language-select__option {
  background: rgba(63, 68, 91, 0.342);
}

.tabs__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  text-align: center;
}
.tabs__item {
  padding: 20px;
  width: 50%;
  border-bottom: 1px solid white;
}
.tabs__item:hover {
  background: rgba(201, 212, 234, 0.286);
}
@media (max-width: 768px) {
  .tabs__item {
    padding: 10px;
  }
}
.tabs__item_border {
  border-left: 1px solid white;
}

.active {
  background: rgba(201, 212, 234, 0.286);
}

.tabs-content__tab {
  display: none;
}
@media (max-width: 1080px) {
  .tabs-content__tab_width1200 {
    flex-direction: column !important;
  }
}
.tabs-content__tab.active {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: transparent;
}
@media (max-width: 768px) {
  .tabs-content__tab.active {
    flex-direction: column;
  }
}
.tabs-content__tab1-left {
  width: 60%;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .tabs-content__tab1-left {
    width: 100%;
    padding-right: 0;
  }
}
.tabs-content__tab1-right {
  padding-left: 20px;
  width: 40%;
  border-left: 1px solid white;
}
@media (max-width: 768px) {
  .tabs-content__tab1-right {
    padding-left: 0;
    padding-top: 20px;
    width: 100%;
    border-left: none;
    border-top: 1px solid white;
  }
}
.tabs-content__date-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: max-content;
}
@media (max-width: 520px) {
  .tabs-content__date-form {
    width: 100%;
    box-sizing: border-box;
  }
}
.tabs-content__preset {
  width: 100%;
}
.tabs-content__date {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 458px) {
  .tabs-content__date {
    flex-direction: column;
  }
  .tabs-content__date > * {
    width: 100%;
  }
}
.tabs-content__headline {
  padding-bottom: 16px;
}
.tabs-content__table {
  width: 100%;
  border-collapse: collapse;
}
.tabs-content__history-headline {
  text-align: center !important;
  text-decoration: underline;
  text-underline-offset: 5px;
  padding-bottom: 14px;
}
.tabs-content__header {
  text-align: left;
  padding-bottom: 5px;
}
.tabs-content__input {
  background: transparent;
  border: none;
}
.tabs-content__input_border {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: white;
  background: rgba(201, 212, 234, 0.286);
  padding: 10px 30px;
  border-radius: 10px;
}
@media (max-width: 458px) {
  .tabs-content__input_border {
    width: 100%;
    box-sizing: border-box;
  }
}
.tabs-content__choice {
  display: flex;
  justify-content: space-between;
  background: rgba(201, 212, 234, 0.286);
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
.tabs-content__select {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  border: none;
  background: transparent;
  min-width: 180px;
  color: white;
  padding: 10px 30px;
}
.tabs-content__option {
  background: rgba(63, 68, 91, 0.342);
  border: none;
}
.tabs-content__radio-input {
  display: none;
}
.tabs-content__radio-input[type=radio]:checked + label {
  background: rgba(201, 212, 234, 0.286);
  border-radius: 10px;
}
.tabs-content__radio-label {
  display: inline-block;
  padding: 10px 30px;
}
.tabs-content__radio-label:hover {
  background: rgba(201, 212, 234, 0.286);
  border-radius: 10px;
}
@media (max-width: 520px) {
  .tabs-content__radio-label {
    padding: 10px 15px;
  }
}
.tabs-content__btn {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  background: transparent;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
}
.tabs-content__btn:hover {
  background: rgba(201, 212, 234, 0.286);
}
.tabs-content__tab2-left {
  width: 50%;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1080px) {
  .tabs-content__tab2-left {
    padding-bottom: 20px;
    width: 100%;
  }
}
.tabs-content__tab2-right {
  padding-left: 20px;
  width: 50%;
  border-left: 1px solid white;
}
@media (max-width: 1080px) {
  .tabs-content__tab2-right {
    padding-left: 0;
    border-left: none;
    border-top: 1px solid white;
    width: 100%;
  }
}
.tabs-content__holidays-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: max-content;
}
@media (max-width: 610px) {
  .tabs-content__holidays-form {
    width: 100%;
  }
}
.tabs-content__country-year {
  padding-right: 30px;
  display: flex;
  gap: 15px;
  background: rgba(201, 212, 234, 0.286);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .tabs-content__country-year {
    gap: 5px;
    justify-content: space-between;
  }
}

.custom-table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
}

.custom-table thead {
  position: relative;
}
.custom-table thead:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: white;
  width: 100%;
}

.custom-table th,
.custom-table td {
  width: 50%;
  text-align: left;
  padding: 5px;
}

#year:disabled {
  color: #d2d2d2;
}

@media (max-width: 580px) {
  #year {
    min-width: 94px !important;
    box-sizing: border-box;
  }
}

@media (max-width: 580px) {
  #country {
    min-width: 94px;
    box-sizing: border-box;
  }
}